Repository ovh/reket: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, npx sort-package-json, prettier --write

v0.1.0
  CHANGELOG.md
  lerna.json
  packages/reket-axios-client/CHANGELOG.md
  packages/reket-axios-client/package.json
  packages/reket-core/CHANGELOG.md
  packages/reket-core/package.json
Due: npx sort-package-json, prettier --write

build(dev-deps): upgrade to pug@^3.0.1
  package.json
  yarn.lock
Due: npx sort-package-json, prettier --write

build(dev-deps): upgrade to pug@^3.0.1 (#5)
  package.json
  yarn.lock
Due: npx sort-package-json, prettier --write

docs: update CONTRIBUTORS file
  CONTRIBUTORS
Due: none

docs: add CODEOWNERS file
  .github/CODEOWNERS
Due: none

docs: add CODEOWNERS file (#7)
  .github/CODEOWNERS
Due: none

fix(core.reket): remove typo
  packages/reket-core/src/reket.js
Due: eslint --fix

v0.1.1
  CHANGELOG.md
  lerna.json
  packages/reket-axios-client/CHANGELOG.md
  packages/reket-axios-client/package.json
  packages/reket-core/CHANGELOG.md
  packages/reket-core/package.json
Due: npx sort-package-json, prettier --write

ci(workflow): add gh-pages actions
  .github/workflows/gh-pages.yaml
Due: none

ci(workflow): add gh-pages actions (#8)
  .github/workflows/gh-pages.yaml
Due: none

feat: remove sso auth config
  README.md
  packages/reket-axios-client/src/index.js
  packages/reket-core/src/config/config.js
  packages/reket-core/src/config/constants.js
  packages/reket-core/src/config/index.js
  packages/reket-core/src/config/sso-auth.js
  packages/reket-core/src/reket.js
  packages/reket-core/tests/config/config.spec.js
  packages/reket-core/tests/config/sso-auth.spec.js
  packages/reket-core/tests/reket.spec.js
Due: eslint --fix

feat: change reket response
  packages/reket-axios-client/src/client.js
  packages/reket-axios-client/src/index.js
  packages/reket-core/src/config/client.js
  packages/reket-core/src/reket.js
  packages/reket-core/src/response.js
Due: eslint --fix

fix: remove commented code and typo
  packages/reket-core/src/response.js
  packages/reket-core/tests/config/config.spec.js
Due: eslint --fix

docs: update README
  README.md
Due: none

test: add test to fit v1.0.0
  packages/reket-core/tests/config/client.spec.js
  packages/reket-core/tests/config/config.spec.js
  packages/reket-core/tests/config/hooks.spec.js
  packages/reket-core/tests/config/item.spec.js
  packages/reket-core/tests/config/request-types.spec.js
  packages/reket-core/tests/hook.spec.js
  packages/reket-core/tests/mocks/client.mock.js
Due: eslint --fix

test: remove unecessary tests
  packages/reket-core/tests/config/client.spec.js
  packages/reket-core/tests/config/hooks.spec.js
  packages/reket-core/tests/config/item.spec.js
  packages/reket-core/tests/config/request-types.spec.js
  packages/reket-core/tests/hook.spec.js
  packages/reket-core/tests/reket.spec.js
Due: eslint --fix

fix: rejection and null response
  packages/reket-core/src/reket.js
  packages/reket-core/src/response.js
Due: eslint --fix

feat: reket rework
  packages/reket-axios-client/src/index.js
  packages/reket-core/src/config/client.js
  packages/reket-core/src/config/config.js
  packages/reket-core/src/config/constants.js
  packages/reket-core/src/config/hooks.js
  packages/reket-core/src/config/index.js
  packages/reket-core/src/config/item.js
  packages/reket-core/src/config/request-types.js
  packages/reket-core/src/hook.js
  packages/reket-core/src/reket.js
  packages/reket-core/src/request.js
  packages/reket-core/src/request/index.js
  packages/reket-core/src/request/type.js
  packages/reket-core/tests/config/config.spec.js
  packages/reket-core/tests/mocks/client.mock.js
  packages/reket-core/tests/reket.spec.js
Due: eslint --fix

v0.2.0
  CHANGELOG.md
  lerna.json
  packages/reket-axios-client/CHANGELOG.md
  packages/reket-axios-client/package.json
  packages/reket-core/CHANGELOG.md
  packages/reket-core/package.json
Due: npx sort-package-json, prettier --write

docs: update documentation [skip ci]
  .nojekyll
  Reket.html
  ReketClient.html
  ReketConfig.html
  ReketError.html
  ReketRequest.html
  client.js.html
  config_config.js.html
  config_index.js.html
  error.js.html
  global.html
  index.html
  index.js.html
  module-core.html
  module-core_config.html
  reket.js.html
  request.js.html
  response.js.html
  scripts/app.min.js
  scripts/linenumber.js
  scripts/search.js
  styles/app.min.css
  styles/iframe.css
  styles/prettify-jsdoc.css
  styles/prettify-tomorrow.css
  styles/reset.css
Due: eslint --fix

fix(core): remove runtime type check
  packages/reket-core/src/config/client.js
  packages/reket-core/src/config/config.js
  packages/reket-core/src/config/index.js
  packages/reket-core/tests/config/client.spec.js
  packages/reket-core/tests/config/config.spec.js
Due: eslint --fix

fix(core): remove runtime type check (#15)
  packages/reket-core/src/config/client.js
  packages/reket-core/src/config/config.js
  packages/reket-core/src/config/index.js
  packages/reket-core/tests/config/client.spec.js
  packages/reket-core/tests/config/config.spec.js
Due: eslint --fix

v0.2.1
  CHANGELOG.md
  lerna.json
  packages/reket-axios-client/CHANGELOG.md
  packages/reket-axios-client/package.json
  packages/reket-core/CHANGELOG.md
  packages/reket-core/package.json
Due: npx sort-package-json, prettier --write

docs: update documentation [skip ci]
  ReketConfig.html
  config_config.js.html
  config_index.js.html
  module-core_config.html
Due: none

Path conditions:
  eslint --fix: any of: *.js
  npx sort-package-json: any of: **/package.json
  prettier --write: any of: *.json
